body{
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 40px 0 10px 0;
	background-color:white ;
}
.container{
	max-width: 1140px;
	margin: 0 auto 0 auto;
	padding: 0 16px 0 16px;
}
.nav .container{
	display: flex;
	justify-content:space-between;

}
.nav a{
	font-size: 12px;
	line-height: 14px;
	color: #000000;
	text-decoration: none;

}
.gender{
	width: 368px;
	display: flex;
	justify-content: space-between;
}
.process{
	width: 160px;
	display: flex;
	justify-content:space-between;
}
.header{
	padding: 96px 0 32px 0;
}
.header__elements{
	display: flex;
	gap: 50px;
	align-items: center;
}
.header__info{
	width: 50%;
}
.header__info h3{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 16px;
	margin-top: 0px;
}
.header__info h2{
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	margin-bottom: 32px;
	margin-top: 0px;
}
 h1{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: black;
	margin-bottom: 16px;
	margin-top: 0px;
}
.discription{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: justify;
	color: #000000;
	margin-bottom: 44px;
	margin-top: 0px;
}
.low-discription{
	font-style: italic;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
}
.model{
	max-width:460xp; 
}
.header__info a{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #A18356;
	padding: 14px 28px 14px 28px;
	text-decoration: none;
}
.header__foto{
	width: 50%;
}
.swiper-slide img{
	width: 100%;
}
.delivery{
	background-color: #2A2E39;
	color: white;
	padding: 67px 0 66px 0;
	text-align: center;

}
.delivery h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}
.delivery span{
	color: #A28356;
}

.swiper-button-prev,.swiper-button-next{
	color: #A28356;
}
.swiper-pagination-bullet-active {
	background-color:#A28356 ;
}
.registration {
	padding: 62px 0 72px 0;
}
.registration h2{
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 30px;

}
.registration span{
	color: #A28356;
}
input{
	border: 1px solid #A28356;
	padding: 10px 15px;
	transition:0.3s ;
	width: 258px;
	font-size: 16px;
	line-height: 18px;
	
}
input::placeholder{
	color: #A28356;
}
input:focus{
	box-shadow: 0px 0px 15px #A28356;
}
form button{
	width: 258px;
	background: #A28356;
	border: 1px solid #A28356;
	box-sizing: border-box;
	padding: 10px 15px;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	transition:0.3s ;
}
form{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 16px;
}
button:hover{
	color:#A28356;
	background-color: whitesmoke;

}
.links__list{
	display: flex;
	justify-content:space-between ;
	flex-wrap: wrap;
	gap: 16px;
}
.links{
	background-color: #2A2E39;
	padding: 87px 0 87px 0;
}
.links__item{
	width: 250px;
}
.links__item h4{
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 8px;

}
.links__item hr{
	width: 90%;
	height: 1px;
	display: block;
	background-color:#A28356; 
	margin-bottom: 16px;
}
.links__item a{
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.69);
	display: inline-block;
	margin-bottom: 14px;
	transition: 0.5s;
}

.links__item a:hover{
	color:#A28356 ;

} 
.vk{
	margin: 0 10px 0 10px;
}
.social a{
	font-size: 18px;
}
.footer{
	background-color: black;
	padding: 19px 0 19px 0;
}
.footer p {
	font-weight: 100;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #A28356;

}

